services:
  api-gateway-service:
    build: .
    container_name: api-gateway-service
    environment:
      - "API_GATEWAY_ACTIVE_PROFILE=pro"
      - "JWT_PUBLIC_KEY=${JWT_PUBLIC_KEY}"
    depends_on:
      discovery-server:
        condition: service_healthy
      user-service:
        condition: service_healthy
      trip-service:
        condition: service_healthy
      driver-service:
        condition: service_healthy
    ports:
      - "8080:8080"
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 5s
      timeout: 3s
      retries: 30
      start_period: 15s
