services:
  discovery-server:
    build: .
    container_name: discovery-server
    ports:
      - "8761:8761"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 3s
      timeout: 3s
      retries: 30
      start_period: 10s
