server:
  port: 8080
eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/users/**
            - id: trip-service
              uri: lb://trip-service
              predicates:
                - Path=/trips/**
            - id: driver-service
              uri: lb://driver-service
              predicates:
                - Path=/drivers/**

