services:
  redis:
    image: redis:7-alpine
    container_name: redis-driver-service
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "${REDIS_PASSWORD}"]
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - microservice_network
    env_file:
      - .env

volumes:
  redis_data:

networks:
  microservice_network:
    driver: bridge
