spring:
  config:
    activate:
      on-profile: pro
  datasource:
    url: jdbc:mysql://user-db:3306/${USER_DB_DATABASE}
    username: ${USER_DB_USERNAME}
    password: ${USER_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  private-key: ${JWT_PRIVATE_KEY}
  public-key: ${JWT_PUBLIC_KEY}
  refresh-token:
    expiration: 172800
  access-token:
    expiration: 3600

server:
  port: 8081
  servlet:
    context-path: /user-service

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka/
