name: CD - Discovery Service

on:
  workflow_run:
    workflows: ["CI - Discovery Service"]
    types: [completed]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "eureka-server"
          images: "${{ secrets.DOCKER_USERNAME }}/eureka-server:${{ github.event.workflow_run.head_sha }}"
