name: CD - API Gateway

on:
  workflow_run:
    workflows: ["CD - API Gateway"]
    types: [completed]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "api-gateway"
          images: "${{ secrets.DOCKER_USERNAME }}/api-gateway:${{ github.event.workflow_run.head_sha }}"
