services:
  mysql:
    image: "mysql:latest"
    environment:
      - "MYSQL_DATABASE=mydatabase"
      - "MYSQL_PASSWORD=secret"
      - "MYSQL_ROOT_PASSWORD=very_secret"
      - "MYSQL_USER=myuser"
    ports:
      - "3306:3306"
