name: Deploy Terraform

on:
  push:
    branches:
      - main
      - test/CD

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Terraform Init
        run: terraform init -input=false
        working-directory: terraform

      - name: Terraform Validate
        run: terraform validate
        working-directory: terraform

      - name: Terraform Plan
        run: terraform plan -var "db_admin_password=${{ secrets.DB_ADMIN_PASSWORD }}" -out=tfplan.bin
        working-directory: terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan.bin
        working-directory: terraform
